#daohang {
    height: 70px;
    background: #FFF;
    /*    background: #CCC;*/
}

#logobox {
    /*    background: #AAA;*/
    height: 48px;
    font-size: 16px;

}

#menubox {
    /*    background: #EEE;*/
    height: 48px;
    text-align: right;
}

.menubtn {
    width: 100px;
    border-radius: 0;
    height: 48px;
}

.mybtn {
    display: inline-block;
    text-align: center;
    width: 100px;
    cursor: pointer;
    font-weight: 800;
    height: 48px;
    line-height: 46px
}

.mybtn:hover {
    color: #A0A;
    background: #AAA;
}

.biaoti {
    text-align: center;
    font-size: 18px;
    font-weight: 800;
    color: #AAA;
    padding-top: 32px;
}

.chuchuang {
    /*    background: green*/
    text-align: center;
    padding: 2px;
}

.onpic {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    background: rgba(204, 204, 204, 0.66);
    height: 150px;
}

.onpic:hover {
    opacity: 1;
}


.neikuang {
    position: relative;
    overflow: hidden"
}

.input-group {

}

#zhutitu {

}


